extends layout

block content
  h1 #{title}
  div
    a(href="/") &laquo; Back
  br

  form(method='POST' action='')
    div.form-check.form-group
      input#published.form-check-input(type='checkbox', name='Published' checked=(article ? article.published : false))
      label.form-check-label(for='published') Published:      
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Article Title' name='title' value=(article ? article.title : ""))
    div.form-group
      label(for='author') Author:
      input#author.form-control(type='text', placeholder='Article Author' name='author' value=(article ? article.author : ""))
    div.form-group
      label(for='body') Body:
      textarea#body.form-control(name='body' rows='30') #{(article ? article.body : "")}

    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg