extends layout

block content
  h1= title
  p Select an article to edit by clicking on its title. 
  p  
    a(href="/article/create") Create a new article
  ul
    each article in articles
      li
        a(href="/article/edit/"+article.id) #{article.title}
        br 
        span Posted on #{article.getPublishedDate()}
    else
      li There are no articles.