doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-gradient-to-r.py-3.text-center
    div.my-8
      div.text-3xl.font-bold.pt-2 Welcome!
      div.container.max-w-prose.mx-auto.text-left
        span Heya. My name is Eric, and I hope you're having a fantastic day. This blog is a repository for my random articles or thoughts -- it was built using Node/ExpressJS and is hosted on AWS for less than $0.01 per month (there's also a Laravel version in my github!).
    block content
    div.py-3.flex
      div.container.mx-auto.text-center.text-xs
        a(href="/") Article Home | 
        a(href="https://erickoyanagi.com") My Resume | 
        a(href="https://www.linkedin.com/in/erickoyanagi/") My LinkedIn
        div!="&copy All Rights Reserved"
  block scripts