@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
    background: #ccc;
    padding:15px;
    font-style: italic;
}

main.article a {
    text-decoration: underline;
}

.ql-indent-1 {
    margin-left: 15px;
}